.title, .name-pokemon, .title_detalle{
    text-align: center;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.card-pokemon{
    margin: 1rem;
    min-width: 300px;
    background: rgb(151, 201, 204);
}

.name-pokemon{
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* estilos de la pagina detalle pokemos */

.contenerdor-detalle{
    display: flex;
    font-size: 25px;
}

.pokemon-habilidades{
    width: 30%;
}